.programList {
	width: 100%;
	padding: 10px 5px 5px;
	background-color: #a9a9a9;
	margin-bottom: 30px;
	border-radius: 4px;
}
.programHeader {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.programHeader h2 {
	margin: 0;
	text-align: center;
}

/* Media */

@media only all and (max-width: 7500px) {
	.programList {
		margin-bottom: 10px;
	}
}
